.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trends {
    width: 20em;
    height: 20em;
    border: 1px solid black;
    margin: 20px;
}

.logo {
    fill: rgb(29, 161, 242);;
    color: rgb(29, 161, 242);;
}

.rounded {
    border-radius: 50%;
}

.icon {
    width: 50px;
    height: 50px;
}

.left-menu {
    font-family: system-ui, Roboto, Ubuntu, sans-serif;
    font-size: 19px;
    width: 12em;
    padding: 20px;
}

.left-menu a {
    text-decoration: none;
}

.menu-item {
    color: rgb(20, 23, 26);
    font-weight: 700;
    display: flex;
    flex-direction: row;
    #justify-content: space-around;
    padding: 14px;
    #align-items: center;
    #line-height: 25px;
}

.menu-item img {
    height: 26px;
    width: 26px;
}

.menu-item span {
    margin-left: 20px;
    margin-right: 15px;
}

.menu-item button {
    width: 100%;
    background-color: rgb(29, 161, 242);
    color: white;

}

#tweet {
    width: 100%;
    height: 50px;
    background: rgb(29, 161, 242);
    color: white;
    margin: 0;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.feed {
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    width: 40%;
}

.feed-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.feed-item img {
    margin-left: 5px;
    margin-right: 5px;
}

.feed-item div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    vertical-align: top;
}

.feed-item-text h3, .feed-item-text p {
    margin-top: 0;
    margin-bottom: 10px;
}
