
.left-menu {
    font-family: system-ui, Roboto, Ubuntu, sans-serif;
    font-size: 19px;
    width: 15%;
    padding-left: 1em;
    padding-right: 0.8em;
}

.fixed {
    position: fixed;
}

.left-menu a {
    text-decoration: none;
}

.logo {
    fill: rgb(29, 161, 242);
    padding-top: 5px;
}

.menu-item {
    color: rgb(20, 23, 26);
    font-weight: 700;
    display: flex;
    flex-direction: row;
    #justify-content: space-around;
    padding: 0.7em;
    align-items: center;
    #line-height: 25px;
}

.menu-item img, svg {
    height: 26px;
    width: 26px;
}

.menu-item span {
    margin-left: 1em;
    margin-right: 1em;
}

#tweet {
    width: 100%;
    height: 2.6em;
    background: rgb(29, 161, 242);
    color: white;
    margin: 0;
    border-radius: 1.6em;
    text-align: center;
    line-height: 2.5em;
    font-size: 0.8em;
}
