.container {
  display: flex;
  justify-content: center;
}

.rounded {
  border-radius: 50%;
}

.left-menu {
  width: 14%;
  font-family: system-ui, Roboto, Ubuntu, sans-serif;
  font-size: 19px;
  padding-left: 1em;
  padding-right: 0.8em;
  margin-right: 0.5em;
}
.left-menu .fixed {
  position: fixed;
}
.left-menu .fixed #logo {
  padding: 0.9em;
}
.left-menu .fixed .item-container {
  display: flex;
  color: #14171a;
  font-weight: 700;
  #justify-content: space-around;
  padding: 0.4em;
  align-items: center;
  #line-height: 25px;
}
.left-menu .fixed .item-container img, .left-menu .fixed .item-container svg {
  height: 26px;
  width: 26px;
}
.left-menu .fixed .menu-item {
  color: #14171a;
  font-weight: 700;
  display: flex;
  padding: 0.5em;
  align-items: center;
}
.left-menu .fixed .menu-item:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 1.4em;
  cursor: pointer;
}
.left-menu .fixed .menu-item span {
  margin-left: 1em;
  margin-right: 1em;
}
.left-menu .fixed #tweet {
  width: 100%;
  height: 2.6em;
  background: #1da1f2;
  color: white;
  margin: 0;
  border-radius: 1.6em;
  text-align: center;
  line-height: 2.5em;
  font-size: 0.8em;
}
.left-menu .fixed #tweet:hover {
  filter: brightness(90%);
}

#mainPage {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
#mainPage #profileContainer {
  display: flex;
  flex-direction: column;
  font-family: system-ui, Roboto, Ubuntu, sans-serif;
  font-size: 19px;
  color: #14171a;
  width: 100%;
}
#mainPage #profileContainer.hidden {
  display: none;
}
#mainPage #profileContainer #description {
  padding-left: 1em;
}
#mainPage #profileContainer #title {
  padding-left: 1em;
}
#mainPage #profileContainer .name {
  font-weight: 900;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
#mainPage #profileContainer #profileTweets {
  display: flex;
  flex-direction: column;
}
#mainPage #profileContainer .tweets-title {
  padding: 1em 2em;
  font-size: 16px;
  font-weight: 600;
  color: #5a5a5a;
  #border-bottom: 1px solid lightgrey;
}
#mainPage #profileContainer .about {
  font-size: 16px;
}
#mainPage #profileContainer #coverImg {
  height: 200px;
}
#mainPage #profileContainer #profileImg {
  width: 120px;
  height: 120px;
  position: relative;
  top: -70px;
  left: 20px;
  border: 4px solid white;
  margin-bottom: -70px;
}
#mainPage #feedContainer {
  #overflow-y: scroll;
  #overflow-x: visible;
  word-wrap: break-word;
}
#mainPage #feedContainer.hidden {
  display: none;
}
#mainPage #feedContainer .home {
  font-family: system-ui, Roboto, Ubuntu, sans-serif;
  font-size: 19px;
  font-weight: 900;
  padding: 1em;
}

.trends {
  width: 14%;
  font-size: 16px;
  height: 20em;
  border: 1px solid black;
  margin: 1em;
}

.tweet-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid lightgrey;
  padding-top: 1em;
  padding-right: 10px;
  padding-left: 10px;
}
.tweet-item #icon {
  width: 50px;
  height: 50px;
}
.tweet-item .content {
  margin-left: 10px;
  margin-bottom: 20px;
  vertical-align: top;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tweet-item .content #feedItemMultimedia {
  max-width: 100%;
}
.tweet-item .content #feedItemTitle {
  margin-top: 0;
  margin-bottom: 10px;
}
.tweet-item .content #tweetText {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Times New Roman";
}
.tweet-item .content .interaction-banner {
  height: 30px;
  width: 30px;
  margin-top: 4px;
}
.tweet-item .content .interaction-banner .like {
  fill-opacity: 0.5;
  padding: 20%;
  width: 70%;
  height: 70%;
}
.tweet-item .content .interaction-banner .like:hover {
  fill: red;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
